
body { background-color: #000000; color: #ffffff; }
.groupname {
	color: ivory;
	font-size: 11pt;
	font-weight: bold;
}
.servicename {
	color: teal;
	font-size: 8pt;
	font-weight: bold;
}

.hostname {
	color: #ffffcc;
	font-size: 11pt;
	font-family: Tahoma, Arial, Helvetica;
}
